/Test/en.*/
/Test/html.*/
/Test/DocTest.*
/.v2.txt
/.v0.txt
packages
NUnit.*
TestResult.xml
*.userprefs
*.user
bin
obj
.vs
*.metagen
*.pdb
*.psess
*.vspx
mdoc/Test/actual_statistics.txt
mdoc/Test/test-overwrite-attribute/SomeClass.xml
mdoc/Test/test-overwrite-attribute/SomeClass.dll
mdoc/Test/test-generic-ignored-namespace/ReadOnlySpan.dll
mdoc/Test/test-nuget-information/input_data/
/Debug/UwpTestWinRtComponentCpp
Debug
/mdoc/mdoc.Test/UwpTestWinRtComponentCpp/x64/Release
/mdoc.Test.Cplusplus/x64/Release
/x64/Release/UwpTestWinRtComponentCpp
