[submodule "external/SharpZipLib"]
	path = external/SharpZipLib
	url = https://github.com/icsharpcode/SharpZipLib.git
[submodule "external/Lucene.Net.Light"]
	path = external/Lucene.Net.Light
	url = https://github.com/mono/Lucene.Net.Light.git
