# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

pr: none
trigger: none
schedules:
- cron: "0 0 * * *"
  displayName: Daily midnight build
  branches:
    include:
    - main

pool:
  vmImage: 'windows-latest'

variables:
  Codeql.Enabled: true
  Codeql.TSAEnabled: true
  solution: 'apidoctools.sln'
  buildConfiguration: 'Release'

steps:
- task: CodeQL3000Init@0
  inputs:
    Enabled: true  

- task: CmdLine@2
  displayName: make prepare
  inputs:
    script: 'make prepare'

- task: MSBuild@1
  displayName: MSBuild
  inputs:
    solution: '$(solution)'
    configuration: '$(buildConfiguration)'

- task: CodeQL3000Finalize@0
  inputs:
    Enabled: true 