/Test/en.*/
/Test/en.actual
/Test/html.*/
/Test/DocTest.*
/Test/*.dll*
/Test/FrameworkTestData*
/Test/fx-import
Test/DocTest-DropNS-classic.xml
/Test/test-nuget-information
/Test/test-type-projection
/Test/actual_statistics.txt
/Test/test-overwrite-attribute/SomeClass.xml
/Test/test-overwrite-attribute/SomeClass.dll
/Test/test-generic-ignored-namespace/ReadOnlySpan.dll
/Test/test-long-file-name/
/Test/test-nuget-information/input_data/
/Debug/UwpTestWinRtComponentCpp
Debug
/mdoc.Test/UwpTestWinRtComponentCpp/x64/Release
/mdoc.Test.Cplusplus/x64/Release
/x64/Release/UwpTestWinRtComponentCpp
/mdoc/Properties/launchSettings.json
