/.v0.txt
/.v2.txt
/Debug/UwpTestWinRtComponentCpp
/Test/*.dll*
/Test/actual_statistics.txt
/Test/DocTest-DropNS-classic.xml
/Test/DocTest.*
/Test/DocTest.*
/Test/en.*/
/Test/en.*/
/Test/en.actual
/Test/FrameworkTestData*
/Test/fx-import
/Test/html.*/
/Test/html.*/
/Test/test-generic-ignored-namespace/
/Test/test-long-file-name/
/Test/test-nuget-information
/Test/test-nuget-information/input_data/
/Test/test-overwrite-attribute/
/Test/test-type-projection
/tests/mdoc.Test.Cplusplus/x64/Release
/tests/mdoc.Test/UwpTestWinRtComponentCpp/x64/Release
/x64/Release/UwpTestWinRtComponentCpp