/Test/en.*/
/Test/en.actual
/Test/html.*/
/Test/DocTest.*
/Test/*.dll*
/Test/FrameworkTestData*
/Test/fx-import
Test/DocTest-DropNS-classic.xml
/.v2.txt
/.v0.txt
/Test/test-nuget-information
/Test/test-type-projection